html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Prelude';
  src: url("https://s3.amazonaws.com/assets.labibrahman.com/typefaces/Prelude/PreludeWGL-Medium.eot");
  /* IE9 Compat Modes */
  src: url("PreludeWGL-Medium.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/assets.labibrahman.com/typefaces/Prelude/PreludeWGL-Medium.woff") format("woff"), url("https://s3.amazonaws.com/assets.labibrahman.com/typefaces/Prelude/PreludeWGL-Medium.ttf") format("truetype"), url("https://s3.amazonaws.com/assets.labibrahman.com/typefaces/Prelude/PreludeWGL-Medium.svg#1243d118223cd48a4306fb16e622fe32") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Prelude';
  src: url("https://s3.amazonaws.com/assets.labibrahman.com/typefaces/Prelude/PreludeWGL-Bold.eot");
  /* IE9 Compat Modes */
  src: url("PreludeWGL-Bold.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/assets.labibrahman.com/typefaces/Prelude/PreludeWGL-Bold.woff") format("woff"), url("https://s3.amazonaws.com/assets.labibrahman.com/typefaces/Prelude/PreludeWGL-Bold.ttf") format("truetype"), url("https://s3.amazonaws.com/assets.labibrahman.com/typefaces/Prelude/PreludeWGL-Bold.svg#1243d118223cd48a4306fb16e622fe32") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}
body {
  font-family: Prelude;
  font-weight: 400;
  font-size: 39px;
  padding: 63px;
  line-height: 47px;
}

h3 {
  font-weight: 700;
  font-size: 63px;
  line-height: 63px;
  padding-top: 63px;
  padding-bottom: 63px;
}

p, li {
  padding-bottom: 39px;
}
